@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary:#F9FAFB;
  --secondary:#ffffff;
  --tertiary:#f3f4f6;
  --text:#111827;

  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --primary:#121212;
  --secondary:#1f1f1f;
  --tertiary:#1a1a1e;
  --text:#e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary);
}

#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modalContent {
  position: absolute;
  color: var(--text);
  background: var(--secondary);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  text-align: center;
}

#text {
  color: var(--text);
}

#sideNavigation {
  background-color: var(--tertiary);
}

#topNavigation {
  background-color: var(--secondary)
}

#modalButton {
  background-color: var(--tertiary);
  color: var(--text);
}

#modalButton:hover {
  background-color: var(--primary);
}