@import "tailwindcss";

#root {
  padding: 0;
  margin: 0;
}

body {
  transition: background-color .2s ease-in-out;
}

html.dark body {
  background-color: black;
  color: white;
}

html:not(.dark) body{
  background-color: white;
  color: black;
}

/* vscode-ignore: @custom-variant */
@custom-variant dark (&:where(.dark, .dark *));