@import "tailwindcss";

#root {
  padding: 0;
  margin: 0;
}

html.dark body {
  background-color: #09090b;
  color: #e5e5e5;
  /* neutral-200 */
}

html:not(.dark) body{
  background-color: #f8f8f8;
  color: #111827;
}

/* vscode-ignore: @custom-variant */
@custom-variant dark (&:where(.dark, .dark *));